html {
  scroll-behavior: smooth;
}

:root {
  --link-color:rgb(129, 129, 129);
  --header-link-color:rgb(255, 255, 255);
}

* {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
}

a {
  width: fit-content;
}

body {
  margin: 0;

  /* background: linear-gradient(rgb(255, 255, 255), rgb(191, 224, 249)); */
}

header {
  background-color: rgba(128, 128, 128, 0.921);
  /*background: linear-gradient(to right, rgb(217, 204, 181), rgb(179, 117, 117));*/
  /*background: linear-gradient(to right, rgba(181, 180, 178, 0.748), rgb(142, 133, 118, 0.61));*/
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.link {
  font-size: 30px;
  margin-left: 20px;
  text-decoration: none;
  color: var(--header-link-color);
  transition: all .1s linear;
  position: relative;
  bottom: 0;
  ;
}

a:hover {
  filter: brightness(160%); 
  filter: hue-rotate(270deg);
  bottom: 1px;
  filter: drop-shadow(2px 2px 3px var(--link-color));
}

.format {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

.title-format {
  width: 100%;
  bottom: 200px;
  background-color: rgba(128, 128, 128, 0.5);
}

.about-container {
  margin-bottom: 100px;
  margin-left: 150px;
}

.project-description {
  text-align: center;
  text-decoration: underline; 
  margin-top: 15px;
}

.project-point {
  text-align: center;
  margin: auto;
  width: 90%;
}

.about-description {
  margin-top: 0;
}

.contact-container {
  margin-top: 100px;
  margin-left: 90px;
  margin-right: 5%;
}

.subformat {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  justify-content: center;
}

.subtitle {
  color: black;
  font-size: 30px;
  margin-bottom: 15px;
  justify-content: center;  
}

.description {
  font-size: 20px;
  margin-bottom: 10px;
}

.point {
  margin-top: 0;
  margin-bottom: 0;
}

.background-img {
  width: 100%;
  height: 500px;
}

.title-container {
  background: url("pic/b1.jpg") 50% 50% no-repeat;
  background-size:100% 110%; 
  height: 550px;
  display: grid;
  place-items: center;
}

.icon-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: top;  
  margin-bottom: 75px;
}

.grid-style {
  display: grid;  
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-top: 75px;
}

.icon {
  margin-top: 60px;
  width: 50px;
  margin-right: 20%;
  padding-left: 10%;
}

.poster {
  width: 200px;
  height: 125px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 300px;
  vertical-align: top;
  padding: 1rem;
}

@media (max-width: 900px) {
  .about-container, .contact-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 1100px) {
  .footer-style {
    flex-direction: column;
  }
}

@media (max-width: 1050px) {
  .grid-style {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    margin-top: 50px;
  }
}
@media (max-width: 700px) {
  .grid-style {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}